In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
data = np.random.randint(0,100,(10,2))

In [10]:
data

array([[39,  8],
       [24, 78],
       [60, 12],
       [91, 28],
       [43, 62],
       [40, 62],
       [12, 74],
       [16, 87],
       [79, 81],
       [99, 81]])

# for running these datas into neural network we use scaling (minmaxscaler)

In [11]:
scaler_model = MinMaxScaler()

In [13]:
scaler_model.fit_transform(data)

/home/shubham/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.31034483, 0.        ],
       [0.13793103, 0.88607595],
       [0.55172414, 0.05063291],
       [0.90804598, 0.25316456],
       [0.35632184, 0.6835443 ],
       [0.32183908, 0.6835443 ],
       [0.        , 0.83544304],
       [0.04597701, 1.        ],
       [0.77011494, 0.92405063],
       [1.        , 0.92405063]])

In [14]:
import pandas as pd

In [15]:
mydata = np.random.randint(0,51,(50,4))

In [16]:
mydata

array([[35, 17, 23, 41],
       [12, 25, 43, 11],
       [ 2, 20, 37, 26],
       [42, 29, 34, 49],
       [47, 10, 34, 19],
       [49, 13, 44, 27],
       [19,  7, 18,  9],
       [40,  0, 47, 48],
       [37,  0, 35, 32],
       [33, 35,  7, 22],
       [12, 19,  8, 44],
       [16, 40, 40, 18],
       [16, 14, 11, 26],
       [32, 10, 44, 41],
       [21, 32, 22, 50],
       [31, 48, 44, 32],
       [45, 14,  7, 17],
       [37, 33, 48, 21],
       [23,  3, 15, 47],
       [ 7, 47, 11, 43],
       [ 4,  8, 25, 48],
       [24, 33, 14, 34],
       [ 9,  2,  6, 21],
       [10, 34, 13, 13],
       [ 1, 23,  7, 19],
       [10, 38, 45, 45],
       [50, 47, 31, 20],
       [25, 22, 15, 37],
       [31,  6, 13, 39],
       [20, 17, 11, 50],
       [24, 48,  0, 25],
       [ 0, 15, 50, 38],
       [42, 48, 24, 14],
       [40, 32, 30, 18],
       [31, 20, 11, 23],
       [40,  9,  5, 45],
       [32, 32, 35, 43],
       [32, 41,  0, 23],
       [35, 36, 23, 30],
       [14, 33, 48,  3],
       [37,  3,  9, 28],
       [12,  6,  2, 10],
       [34, 18, 31, 15],
       [ 5, 40, 50, 17],
       [20, 20, 23, 11],
       [15,  6,  0, 42],
       [ 5, 31, 19, 21],
       [35, 27, 29, 32],
       [10,  6, 27, 11],
       [39, 40,  1, 23]])

In [19]:
df = pd.DataFrame(data=mydata,columns=['c1','c2','c3','c4'])

In [20]:
df

    c1  c2  c3  c4
0   35  17  23  41
1   12  25  43  11
2    2  20  37  26
3   42  29  34  49
4   47  10  34  19
5   49  13  44  27
6   19   7  18   9
7   40   0  47  48
8   37   0  35  32
9   33  35   7  22
10  12  19   8  44
11  16  40  40  18
12  16  14  11  26
13  32  10  44  41
14  21  32  22  50
15  31  48  44  32
16  45  14   7  17
17  37  33  48  21
18  23   3  15  47
19   7  47  11  43
20   4   8  25  48
21  24  33  14  34
22   9   2   6  21
23  10  34  13  13
24   1  23   7  19
25  10  38  45  45
26  50  47  31  20
27  25  22  15  37
28  31   6  13  39
29  20  17  11  50
30  24  48   0  25
31   0  15  50  38
32  42  48  24  14
33  40  32  30  18
34  31  20  11  23
35  40   9   5  45
36  32  32  35  43
37  32  41   0  23
38  35  36  23  30
39  14  33  48   3
40  37   3   9  28
41  12   6   2  10
42  34  18  31  15
43   5  40  50  17
44  20  20  23  11
45  15   6   0  42
46   5  31  19  21
47  35  27  29  32
48  10   6  27  11
49  39  40   1  23

In [22]:
x = df[['c1','c2','c3']]

In [23]:
y = df['c4']

In [24]:
from sklearn.model_selection import train_test_split

In [30]:
 X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=50)

In [37]:
X_train.shape

(33, 3)

In [38]:
X_test.shape

(17, 3)